* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: dimgrey;
}
.header {
  border: 2px solid black;
  background-color: white;
  width: 100%;
  height: 40px;
}
.main-content {
  flex: 1 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "item1 item2 item3"
    "item4 item4 item4"
    "item5 item5 item6";
  gap: 5px;
}
.item {
  background-color: white;
  border: 2px solid black;
}
.item1 {
  grid-area: item1;
  min-width: 250px;
}
.item2 {
  grid-area: item2;
  min-width: 250px;
}
.item3 {
  grid-area: item3;
  min-width: 250px;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
  min-width: 350px;
}
.item6 {
  grid-area: item6;
  min-width: 250px;
}

.footer {
  border: 2px solid black;
  background-color: white;
  width: 100%;
  height: 40px;
}
@media (max-width: 780px) {
  .main-content {
    grid-template-areas:
      "item1 item1 item1"
      "item2 item2 item2"
      "item3 item3 item3"
      "item4 item4 item4"
      "item5 item5 item6";
    background-color: red;
  }
}
@media (max-width: 630px) {
  .main-content {
    grid-template-areas:
      "item1 item1 item1"
      "item2 item2 item2"
      "item3 item3 item3"
      "item4 item4 item4"
      "item5 item5 item5"
      "item6 item6 item6";
    background-color: green;
  }
}
@media (max-width: 370px) {
  .main-content {
    background-color: yellow;
  }
  .item5 {
    min-width: auto;
  }
}
