.img-content {
  width: 765px; /* largura */
  height: 400px; /* altura */
}

.text-content {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 795px) {
  .img-content {
    width: 500px;
  }
  .text-content {
    font-size: 16px;
  }
}
@media (max-width: 510px) {
  .img-content {
    width: 100%;
    height: auto;
  }
  .text-content {
    text-align: center;
  }
}
@media (max-width: 420px) {
  .text-content {
    font-size: 15px;
    font-style: underline;
  }
  .img-content {
    border: solid red 2px;
  }
  body {
    background-color: aquamarine;
  }
}
